# === REPOSITORY === #

# Python virtual enviroment and cache.
__pycache__
.venv

# === USER === #

# Downloaders cookies.
yt-dlp/instagram.cookies
# Downloaded files data.
Storage
# Users data.
Data
