# Скрипт инициализации сервиса Telegram-dlp.
#==========================================================================================#
# {Application Directory} – путь к директории со скриптом.

[Unit]
Description=Telegram-dlp
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory={Application Directory}
ExecStart=/bin/bash -c "source .venv/bin/activate && python main.py"
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target